$md-secondary: (
  50: #e9edf0,
  100: #c8d2da,
  200: #a3b4c1,
  300: #7e95a8,
  400: #627f95,
  500: #466882,
  600: #3f607a,
  700: #37556f,
  800: #2f4b65,
  900: #203a52,
  A100: #95c9ff,
  A200: #62afff,
  A400: #2f95ff,
  A700: #1588ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$md-primary: (
  50: #e8ebef,
  100: #c5ced6,
  200: #9faebb,
  300: #788d9f,
  400: #5b748b,
  500: #3e5c76,
  600: #38546e,
  700: #304a63,
  800: #284159,
  900: #1b3046,
  A100: #87beff,
  A200: #54a3ff,
  A400: #2188ff,
  A700: #087aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

/* variables */
$main-color-100: map-get($md-primary, 500);
$main-color-80: map-get($md-primary, 400);
$main-color-60: map-get($md-primary, 300);
$main-color-40: map-get($md-primary, 200);
$main-color-20: map-get($md-primary, 100);

$main-gray: #969696;
$main-gray-light: #8d8d8d;

$main-text-color: #0E2439;
$primary-text-color: #1D2D44;

$sec-color-100: map-get($md-secondary, 500);
$sec-color-80: map-get($md-secondary, 300);
$sec-color-60: map-get($md-secondary, 200);
$sec-color-40: map-get($md-secondary, 100);
$sec-color-20: map-get($md-secondary, 50);

$color-success: #6fb967;
$color-error: #c6686b;
$color-info: #2196f3;
$color-white: white;
